@import './vars.scss';
@import './partials/button';
@import './partials/card';
@import './partials/datePicker';
@import './partials/modal';
@import './partials/text';
@import './partials/userInterface';


body {
  min-height: 100vh;
  background-color: $light-blue;
}

.bg-dark-blue {
  background: $dark-blue;
}

:focus {
  outline: none;
}

.main-container {
  margin: 2rem;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
