@import './vars.scss';
@import './mixin.scss';
@import './partials/button';
@import './partials/card';
@import './partials/datePicker';
@import './partials/modal';
@import './partials/text';
@import './partials/userInterface';

body {
  min-height: 100vh;
  background-color: $light-blue;
}

.bg-dark-blue {
  background: $dark-blue;
}

:focus {
  outline: none;
}

.main-container {
  margin: 2rem;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch !important;
}

.full-width {
  width: 100%;
}

.margin-l5 {
  margin-left: 5px;
}

h1 {
  margin: inherit;
  font-size: inherit;
}

.bg-dark-blue3 {
  background-color: $dark-blue3;
}
