// Color

//Blue palette
$dark-blue: #225d9b;
$dark-blue2:#073565;
$dark-blue3:#0d233a;

$blue: #039be5;

$light-blue: #e1f5fe;

//yellow
$yellow: #ffff00;

//green
$green: #00ff4c;

//gray
$gray: #979797 ;

//red
$red: #b91b1b;