.btn {
  background-color: $blue;

  &:hover {
    background-color: $blue;
  }

  &:focus {
    border: none;
    background-color: $blue;
  }
}

.waves-effect.waves-blue .waves-ripple {
  background-color: $blue;
  opacity: 0.15;
}
