.placeholder-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 1px $dark-blue2;
  cursor: pointer;

  & i {
    color: $dark-blue2;
    font-size: 400%;
  }
}

.card-title {
  font-size: 1.5vw !important;
}

.budget-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .chart-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  & .graphic-container{
    width: 25vw;
  }

  & .percentage {
    position: absolute;
    color: $dark-blue2;
  }

  & .favorite-btn {
    position: absolute;
    left: 5px;
    top: 0px;

    & i {
      cursor: pointer;
      background: $dark-blue2;
      border-radius: 100%;
      color: gold;
      z-index: 1000;
      &:hover {
        opacity: 0.75;
      }
    }
  }

  & .trash-can,
  & .edit-btn,
  & .add-money,
  & .remove-money {
    position: absolute;
    right: 5px;

    & i {
      position: relative;
      cursor: pointer;
      z-index: 1000;
      &:hover {
        opacity: 0.75;
      }
    }
  }

  & .trash-can {
    top: 0px;

    & i {
      color: #b91b1b;
    }
  }

  & .edit-btn {
    top: 25px;
  }

  & .add-money {
    top: 50px;
  }

  & .remove-money {
    top: 75px;
  }

  & .dateToolTip {
    font-size: 1em;
    cursor: pointer;
  }
}

.deal-card {
  align-items: center;
  padding: 1em;

  &.header-table {
    color: white; 
    background-color: $dark-blue2;
  }
}
