.placeholder-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 1px $dark-blue2;
  cursor: pointer;

  & i {
    color: $dark-blue2;
  }
}


.budget-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage{
  position: absolute;
  color: $dark-blue2;
  margin-bottom: 2rem;
}

.trash-can{
  position: absolute;
  top: 0px;
  right: 5px;

  & i{
    color: #b91b1b;
    cursor: pointer;

    &:hover{
      opacity: 0.75;
    }
  }
}

.edit-btn{
  position: absolute;
  top: 25px;
  right: 5px;

  & i{
    cursor: pointer;

    &:hover{
      opacity: 0.75;
    }
  }
}