.placeholder-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 1px $dark-blue2;
  cursor: pointer;

  & i {
    color: $dark-blue2;
  }
}

.budget-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .chart-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  & .percentage {
    position: absolute;
    color: $dark-blue2;
  }

  & .trash-can,
  & .edit-btn,
  & .add-money,
  & .remove-money {
    position: absolute;
    right: 5px;

    & i {
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }

  & .trash-can {
    top: 0px;

    & i {
      color: #b91b1b;
    }
  }

  & .edit-btn {
    top: 25px;
  }

  & .add-money {
    top: 50px;
  }

  & .remove-money {
    top: 75px;
  }
}
