.bold {
  font-weight: 700 !important;
}

.bold-ligth {
  font-weight: 600 !important;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-dark-blue2 {
  color: $dark-blue2;
}

.text-dark-blue3 {
  color: $dark-blue3;
}

.text-center {
  text-align: center;
}

.title-size {
  font-size: 2vw;
}

.sub-title {
  font-size: 0.85rem;
  color: $gray;
}
