.allContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  width: 15%;
  background-color: $dark-blue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: #0d233a;
}

.link-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  text-align: center;

  &:hover {
    color: yellow;
  }

  &.active {
    color: $dark-blue3;
  }
}

.containerRight {
  width: 85%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  width: 100%;
  background-color: $dark-blue2;
  color: white;

  & .money-container {
    & .money-value {
      display: flex;
      justify-content: space-between;
      border-radius: 0.5rem;
      border: solid 1px white;
      min-width: 150px;
      padding: 10px;

      @include response-to(tablet) {
        padding: 5px;
      }

      & i {
        cursor: pointer;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
}

.disconnectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 20%;
  padding: 30px !important;
  box-sizing: border-box;
  height: 80%;
  padding: 0px;
  background-color: $light-blue;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
    opacity: 0.9;
  }
}

.power-off {
  font-weight: 900;
  color: $dark-blue3;
  font-size: 35px !important;

  @include response-to(tablet) {
    font-size: 25px !important;
  }
}

.mainLogo {
  width: 4vw;
}
